@font-face {
	font-family: avenirnext;
	src: url('../fonts/AvenirNext-Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: avenirnext;
	src: url('../fonts/AvenirNext-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: avenirnext;
	src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
	font-weight: normal;
}

/* main styles */
$font-primary: 'avenirnext', sans-serif;

// text
$text_1: #04000A;
$text_2: #FFFFFF;

$text_bright: #FF8000;

// // bg
$bg_1: #FFFFFF;
$bg_2: #04000A;

// animation speed
$anim_1: .25s ease-in-out;







