@import '_variables';

/*
* ========================== START COMMON ==========================
*/
body * {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	// &:hover {
	// 	text-decoration: underline;
	// }
}
body * {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html, body {
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}
input:focus {
	outline: none;
}
button:focus {
	outline: none;
}
html {
	// font-size: 62.5%; /*1rem = 10px*/
}
body {
	font-size: 16px;
	line-height: 1.4;
	font-family: $font-primary;
	font-weight: 400;
	color: $text_1;
	box-sizing: border-box;
	position: relative;
	
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A8B2C2;
  font-weight: normal;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #A8B2C2;
  font-weight: normal;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #A8B2C2;
  font-weight: normal;
}
:-moz-placeholder { /* Firefox 18- */
  color: #A8B2C2;
  font-weight: normal;
}

// remove tap hightlight area on mobile devices
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
ul {
	padding: 0;
}
h1,h2,h3,h4,h5, p {
	margin: 0;
	padding: 0;
}
.page-wrap {
	opacity: 1;
	visibility: visible;
	transition: .5s;
	&.page-wrap--hidden {
		opacity: 0;
		visibility: hidden;
	}
}
// /* IE10+ для устранения бага с расширением екрана при загрузке */ 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.page-wrap {
		transition: 0s;
	}
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	margin: auto;
	border-bottom: 1px solid white;
	font-size: 14px;
	font-weight: 500;
	// width: 865px;
	width: 450px;
}
.lang {
	display: flex;
	justify-content: flex-end;
	width: 100px;
	color: $text_2;
	.lang__item {
		cursor: pointer;
		color: $text_2;
		border-bottom: 1px solid transparent;
		border: none;
		font-size: 14px;
		font-weight: 500;
		background: transparent;
		padding: 0;
		font-family: $font-primary;
		border-radius: 0;
		&.lang__item--active {
			border-bottom: 1px solid white;
		}
	}
}
.nav {
	width: calc(100% - 100px);
}
.nav__item {
	list-style-type: none;
}
.nav__block {
	display: flex;
	justify-content: space-between;
}
.nav__item-link {
	text-decoration: none;
	color: $text_2;
	transition: $anim_1;
	border-bottom: 1px solid transparent;
	&:hover {
		border-bottom: 1px solid white;
	}
}


.footer__contact {
	padding-top: 70px;
	text-align: center;
	margin: auto;
}
.footer__title {
	font-size: 36px;
}
.footer__btn {
	margin: auto;
	margin-top: 85px;
	margin-bottom: 50px;
	width: 300px;
	height: 60px;
	line-height: 60px;
	display: block;
	font-size: 24px;
	background: $bg_2;
	color: $text_2;
	position: relative;
	transition: $anim_1;
	&::before {
		content: "";
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translate(-50%, 0px);
		background-color: $text_1;
		width: 100%;
		height: 1px;
		transition: $anim_1;
	}
	&::after {
		content: "";
		position: absolute;
		background-color: $text_1;
		bottom: -10px;
		width: 120px;
		height: 1px;
		left: 50%;
		transform: translate(-50%, 0);
		transition: $anim_1;
	}
	&:hover {
		&::before {
			width: 120px;
		}
		&::after {
			width: 100%;
		}
	}
}
.footer__address {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 40px;
	font-style: normal;
}
.footer__phone {
	margin-left: 10px;
	color: $text_1;
}

.footer__copy {
	border-top: 1px solid #ECECEC;
	text-align: center;
	font-size: 14px;
	height: 70px;
	line-height: 70px;
}
.footer__email {
	color: $text_1;
}
/*
* ========================== END COMMON ==========================
*/



/*
* ========================== START INDEX ==========================
*/
.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
}
.hero {
	background-image: url('../img/content/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	width: 100%;
	height: 690px;
	position: relative;
	&::after {
		content: "";
		bottom: 0;
		position: absolute;
		width: 0; 
		height: 0; 
		border-top: 7.25vw solid transparent;
		border-bottom: 0px solid transparent;
		font-size: 100vw;
		border-right: 1em solid white;
	}
}
.hero__title {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	.hero__title-img {
		width: 80%;
		display: block;
		margin: auto;
	}
}
.hero__subtitle-img {
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 10;
}
.compet {
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: 615px;
	overflow: hidden;
	color: $text_2;
	position: relative;
	&::after {
		content: "";
		left: 0;
		top: 0;
		position: absolute;
		width: 0; 
		height: 0; 
		border-top:  0px  solid transparent;
		border-bottom: 7.25vw solid transparent; 
		border-left: 100vw  solid white;
	}
}
.compet__content {
	width: 50%;
	background-color: $bg_2;
	padding: 6% 7% 60px 10%;
	position: relative;
	height: 615px;
}
.compet__title {
	font-weight: bold;
	font-size: 36px;
	margin-top: 85px;
	margin-bottom: 30px;
}

.compet__text {
	font-size: 18px;
	position: relative;
}
.compet__text-sidebar {
	position: absolute;
	left: -12px;
	top: 375px;
	font-weight: bold;
	transform: rotate(-90deg);
	&::before {
		content: '';
		position: absolute;
		width: 60px;
		height: 3px;
		background: $bg_1;
		right: -80px;
		top: 10px;
	}
}
.compet__link {
	font-size: 24px;
	width: 300px;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	border: 1px solid white;
	margin-top: 45px;
	color: $text_2;
	transition: $anim_1;
	&:hover {
		color: $text_1;
		background: white;
	}
}
.compet__slides {
	width: 50%;
	height: 615px;

	.fotorama__caption {
		left: 40px;
		bottom: 25px;
		color: $text_2;
		font-weight: 500;
	}
	.fotorama__caption__wrap {
		background: none;
		padding: 0;
	}
	.fotorama__arr {
		background-image: none;
	}
	
	// .fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus),
	// .fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus) {
	// 	transform: translate3d(0,0,0);
	// 	opacity: 1;
	// }

	.fotorama__arr--prev {
		top: auto;
		bottom: 30px;
		right: 62px;
		left: auto;
		opacity: .8;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			border: solid white;
			border-width: 0 1px 1px 0;
			display: inline-block;
			padding: 3px;
			transform: translate(-50%, -50%) rotate(135deg);
			
		}
		&:hover {
			opacity: 1;
		}
	}

	.fotorama__arr--next {
		top: auto;
		bottom: 30px;
		right: 30px;
		opacity: .8;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			border: solid white;
			border-width: 0 1px 1px 0;
			display: inline-block;
			padding: 3px;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		&:hover {
			opacity: 1;
		}
		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	top: calc(50% - 3px);
		// 	left: 50%;
		// 	display: block;
		// 	background: white;
		// 	width: 5px;
		// 	height: 1px;
		// 	transform: translate(-50%, -50%) rotate(50deg);
		// }
		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	display: block;
		// 	background: white;
		// 	width: 5px;
		// 	height: 1px;
		// 	transform: translate(-50%, -50%) rotate(-50deg);
		// }
	}
}

.broadcasting {
	margin-top: 60px;
}
.broadcasting__title {
	font-weight: bold;
	text-align: center;
	font-size: 36px;
	// margin-bottom: 25px;
}
.broadcasting__video {
	width: 100%;
	max-width: 1400px;
	height: 550px;
	margin: auto;
	display: block;
	margin-top: 50px;
	border: none;
}


.index-page .schedule {
	background-color: $bg_1;
	color: $text_1;
}
.schedule {
	background-color: $bg_2;
	color: $text_2;
	padding-top: 60px;
}
.schedule__title {
	font-weight: bold;
	text-align: center;
	font-size: 36px;
	margin-bottom: 55px;
}
.schedule__units {
	display: flex;
	align-items: flex-start;
	// max-width: 1200px;
	max-width: 1255px;
	margin: auto;
}
.schedule__unit {
	width: 50%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.schedule__unit:nth-of-type(2) {
	margin-left: 10px;
	// margin-right: 40px;
}
.schedule__date {
	width: 23%;
	// width: 20%;
	font-weight: bold;
	line-height: 1;
	text-align: center;
}
.schedule__day {
	font-size: 64px;
}
.schedule__month {
	position: relative;
	// left: 12px;
	font-size: 18px;
}
.schedule__items {
	width: 77%;
	// width: 80%;
	overflow: auto;
}
.schedule__item {
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #979797;
}
.schedule__item-time {
	font-size: 18px;
	color: $text_bright;
}
.schedule-page {
	.schedule__item-time{
		font-weight: 900;
	}
	.schedule__item-title {
		font-weight: 900;
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 18px;
	}
}
.schedule__item-table {
	width: 100%;
	strong {
		font-weight: 600;
	}
	tr {
		display: flex;
		justify-content: space-between;
	}
	tr:nth-of-type(even) {
		// background-color: rgba(255, 128, 0, .05);
		background-color: rgba(255, 255, 255, .05);
	}
	td {
		font-weight: 400;
	}
	th {
		text-align: left;
	}
	th:nth-of-type(1),
	td:nth-of-type(1) {
		width: 30px;	
	}
	th:nth-of-type(2),
	td:nth-of-type(2) {
		flex-grow: 1;	
	}
	th:nth-of-type(3),
	td:nth-of-type(3) {
		width: 80px;	
	}
}
.schedule__subtitle {
	font-size: 24px;
	text-align: center;
	// margin-bottom: 15px;
}
.schedule__stars {
	width: 1200px;
	height: 600px;
	margin: auto;
	background-image: url('../img/content/stars.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: relative;
	margin-top: 50px;
}
.schedule__stars-text {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 20px;
	background-color: rgba(4, 0, 10, .8);
	color: #FFF;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	font-weight: 500;
}

.fee__additional {
	text-align: center;
	font-weight: 500;
}
.fee__table {
	width: 680px;
	margin: auto;
	list-style: none;
	margin-top: 10px;
	border-collapse: collapse;
	tr {
		border-bottom: 1px solid #979797;
		height: 40px;
	}
	th {
		font-weight: normal;
		text-align: left;
	}
	td {
		font-weight: normal;
		text-align: right;
	}
}






.fee,
.prize {
	padding-top: 40px;
	padding-bottom: 10px;
	background-color: $bg_2;
	color: $text_2;
}
.prize__table {
	width: 680px;
	margin: auto;
	margin-top: 10px;
	border-collapse: collapse;
	tr {
		border-bottom: 1px solid #979797;
		height: 40px;
	}
	td {
		text-align: right;
		font-weight: normal;
		
	}
	th {
		text-align: left;
		font-weight: 400;
	}
	tr:first-child {
		th:not(:first-child) {
			text-align: right;
		}
	}
	tr:last-child td {
		text-align: left;
		
	}
	tr:last-child {
		border-bottom: none;
		font-size: 14px;
	}
}
.prize {
}
.rules {
	padding-bottom: 50px;
}

.additional {
	width: 100%;
	background-color: $bg_2;
	color: $text_2;
	a {
		color: #FFF;
		margin-left: 10px;
	}
	em {
		display: block;
		margin-top: 5px;
	}
}
.additional__inner {
	width: 680px;
	margin: auto;
}
.additional__title {
	padding-top: 15px;
}


.schedule__gal {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	// min-height: 550px;
	max-width: 1400px;
	.fotorama__arr {
		background-image: none;
	}
	.fotorama__arr--prev {
		left: 50px;
		opacity: .8;
		&::before {
			content: "";
			position: absolute;
			top: calc(50% - 24px);
			left: 50%;
			display: block;
			background: white;
			width: 55px;
			height: 2px;
			transform: translate(-50%, -50%) rotate(-60deg);
		}
		&::after {
			content: "";
			position: absolute;
			bottom: calc(50% - 25px);
			left: 50%;
			display: block;
			background: white;
			width: 55px;
			height: 2px;
			transform: translate(-50%, -50%) rotate(60deg);
		}
		&:hover {
			opacity: 1;
		}
	}
	.fotorama__arr--next {
		right: 50px;
		opacity: .8;
		&:hover {
			opacity: 1;
		}
		&::before {
			content: "";
			position: absolute;
			top: calc(50% - 24px);
			left: 50%;
			display: block;
			background: white;
			width: 55px;
			height: 2px;
			transform: translate(-50%, -50%) rotate(60deg);
		}
		&::after {
			content: "";
			position: absolute;
			bottom: calc(50% - 25px);
			left: 50%;
			display: block;
			background: white;
			width: 55px;
			height: 2px;
			transform: translate(-50%, -50%) rotate(-60deg);
		}
	}
}

.index-page .tng {
	background-color: $bg_1;
	color: $text_1;
	.tng__phone,
	.tng__email {
		color: $text_1;
	}
	.tng__item-text {
		color: $text_2;
	}
}
.tng {
	padding-top: 60px;
	color: $text_2;
	background-color: $bg_2;
}
.tng__units {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 35px;
	margin-bottom: 15px;
}
.tng__unit {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	// width: 650px;
	font-size: 18px;
	margin: auto;
}

.tng__item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: 200px;
	height: 230px;
}
.tng__item-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.tng__item-text {
	position: absolute;
	bottom: -1px;
	left: 0;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
	width: 100%;
	background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
.tng__title {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.tng__text {
	text-align: center;
	margin: auto;
	max-width: 720px;
	font-size: 18px;
	letter-spacing: 0;
	padding-left: 20px;
	padding-right: 20px;
}
.tng__phone,
.tng__email {
	cursor: pointer;
	color: $text_2;
}

.tng__video {
	width: 100%;
	max-width: 1400px;
	height: 550px;
	margin: auto;
	display: block;
	// margin-top: 100px;
	margin-top: 50px;
	border: none;
}


.tng__gallery {
	opacity: 1;
	visibility: visible;
	transition: .25s;
	&.tng__gallery--hidden {
		opacity: 0;
		visibility: hidden;
	}
}

.partners {
	margin-top: 50px;
}

.partners__unit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 1200px;
	height: 230px;
	border-bottom: 1px solid #F1F1F1;
}
.partners__title {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}
.partners__item {
	width: 33.33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.partners__item-img {
}

// start scroll customization
.mCSB_scrollTools .mCSB_draggerContainer {
	left: 12px;
}
.mCSB_inside > .mCSB_container {
	margin-right: 10px;
}
._mCS_2 .mCSB_dragger .mCSB_dragger_bar,
._mCS_1 .mCSB_dragger .mCSB_dragger_bar { 
	background-color: #F5A623;
}
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	background-color: #F5A623;
}
.mCSB_scrollTools .mCSB_draggerRail {
	background-color: transparent;
}
#mCSB_2_scrollbar_vertical .mCSB_dragger,
#mCSB_1_scrollbar_vertical .mCSB_dragger { 
	height: 100px; 
}
.mCSB_2_scrollbar .mCSB_dragger .mCSB_draggerRail,
.mCSB_1_scrollbar .mCSB_dragger .mCSB_draggerRail { 
	width: 5px; 
}
// end scroll customization


/*
* ========================== END INDEX ==========================
*/

.hero-2 {
	height: 430px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.hero-2__unit:first-of-type {
	width: 100%;
	height: 320px;
	background-image: url('../img/content/hero-bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	.hero-2__title {
		width: 900px;
		margin: 0;
		position: relative;
		top: 50px;
	}
	.hero-2__title-img {
		width: 100%;
		transform: rotate(4deg) translateY(3px);
	}
}

.hero-2__unit {
	position: relative;
	width: 100%;
	height: 110px;
	display: flex;
	justify-content: center;
	background: #FFF;
	z-index: 10;

	.hero-2__subtitle {
		position: relative;
		top: 10px;
	}
	.hero-2__subtitle-img {
		text-align: center;
		transform: rotate(4deg);
	}
}

/*
* ========================== START CONTACT ==========================
*/
.contact {
	width: 100%;
	background: $bg_2;
	padding-top: 75px;
	padding-bottom: 130px;
	text-align: center;
	color: $text_2;
}
.contact__title {
	font-weight: bold;
	text-align: center;
	font-size: 36px;
	margin-bottom: 30px;
}
.contact__unit-title {
	font-size: 18px;
	
}
.contact__item {
	margin-top: 20px;
	font-size: 24px;
	a {
		text-decoration: none;
		color: $text_2;
		display: block;
		cursor: pointer;
	}
}
/*
* ========================== END CONTACT ==========================
*/


/*
* ========================== START judges ==========================
*/
.judges {
	width: 100%;
	background: $bg_2;
	padding-top: 75px;
	padding-bottom: 130px;
	text-align: center;
	color: $text_2;
}
.judges__title {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 30px;
}
.judges__unit {
	font-size: 24px;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	margin: auto;
	ol {
		margin-top: 0;
		margin-bottom: 0;
	}
	li {
		white-space: nowrap;
	}
	p {
		// margin-left: 18px;
	}
}
/*
* ========================== END judges ==========================
*/


/*
* ========================== START location ==========================
*/
.location {
	width: 100%;
	background: $bg_2;
	padding-top: 75px;
	padding-bottom: 130px;
	text-align: center;
	color: $text_2;
}
.location__title {
	font-weight: bold;
	text-align: center;
	font-size: 36px;
	margin-bottom: 30px;
}
.location__content {
	font-size: 18px;
	margin-bottom: 40px;
}
.location__map {
	width: 80%;
	margin: auto;
	height: 530px;
}
/*
* ========================== END location ==========================
*/



/*
* ========================== START GALLERY ==========================
*/
.training-page {
	.grid {
		width: 1140px;
		margin: auto;
		margin-bottom: 30px;
		margin-top: 100px;
		position: relative;
		// left: 45px;
		// чтоб обрезать полседнее фото
		max-height: 766px;
		overflow: hidden;
	}
	.grid-item {
		width: 360px;
		// width: 30%;
		margin-bottom: 30px;
	}
	.grid-unit {
	}

	.additional {
		margin-bottom: 50px;
		
		&__inner {
			width: 1140px;
			display: flex;
		}
		&__unit {
			width: 50%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.tng__schedule {
		margin-bottom: 50px;
		margin-top: 50px;
	}
	.tng__tables {
		display: flex;
		justify-content: center;
	}
	.tng__table {
		// width: 400px;
		width: 300px;
		margin-right: 20px;
		margin-left: 20px;
		// margin: auto;
		list-style: none;
		margin-top: 10px;
		border-collapse: collapse;
		tr {
			border-bottom: 1px solid #979797;
			height: 40px;
		}
		th {
			font-weight: normal;
			// text-align: left;
			text-align: center;
		}
		td {
			font-weight: normal;
			text-align: right;
		}
		.tng__cell-title {
			text-align: center;
			font-weight: 900;
		}
	}
	
}
.gallery-page {
	// background: $bg_2;
	.gal__title {
		font-weight: bold;
		font-size: 36px;
		color: $text_2;
	}
	.gal__btns {
		width: 1140px;
		margin: auto;
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
	}
	.gal__btn {
		background-color: transparent;
		font-size: 18px;
		margin-left: 15px;
		color: #FFF;
		border: none;
		cursor: pointer;
		&.gal__btn--active {
			text-decoration: underline;
		}
	}
	.gal__subtitle {
		color: $text_2;
		position: absolute;
		left: -110px;
		top: 230px;
		font-weight: bold;
		transform: rotate(-90deg);
		&:after {
			content: "";
			position: absolute;
			width: 60px;
			height: 3px;
			background: #fff;
			left: 125px;
			top: 10px;
		}
	}
	.gal {
		padding-top: 70px;
		width: 1200px;
		width: 1140px;
		margin: auto;
		min-height: 700px;
		margin-bottom: 220px;
		position: relative;
		&.gal--loading {
			.gallery {
				opacity: 0;
				visibility: hidden;
			}
			.gallery__loader {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.main {
		background: $bg_2;
		// лоадер с большим приоритетом
		.gal {
			&.gal--prior-loading {
				.gallery {
					opacity: 0;
					visibility: hidden;
				}
				.gallery__loader {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.gal__video-item {
		width: 1110px;
		margin-left: 35px;
		height: 550px;
		border: none;
	}
	.gallery {
		opacity: 1;
		visibility: visible;
		transition: $anim_1;
		margin-top: 50px;
	}
	.gallery__loader {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		width: 100px;
		height: 100px;
		top: 400px;
		left: 50%;
		transform: translate(-50%, 0);	
	}
	.grid {
		width: 100%;
		// todo position block without left offset
		// left: 45px;
	}
	.grid-item {
		// width: 30%;
		width: 360px;
		margin-bottom: 30px;
		// transform:translate3d(0,0,0);
	}
	.grid-unit {
		// transform:translate3d(0,0,0);
	}
	.grid-unit--hidden {
		display: none;
	}
	.video-content {
	}
	.button-group {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.filter-btn {
		border: none;
		background: none;
		font-size: 18px;
		color: #2A2C35;
		margin-left: 35px;
		margin-right: 35px;
		cursor: pointer;
		transition: $anim_1;
		border-bottom: 1px dashed transparent;
		&:hover {
			border-bottom: 1px dashed #6A9A35;
		}
	}
	.filter-btn.filter-btn--active {
		color: #6A9A35;
		&:hover {
			border-bottom: 1px dashed transparent;
		}
	}
	.gal__more-btn{
		margin: 75px auto 60px;
		background: transparent;
		cursor: pointer;
		font-size: 24px;
		width: 300px;
		height: 60px;
		display: block;
		text-align: center;
		line-height: 60px;
		border: 1px solid white;
		margin-top: 45px;
		padding: 0;
		color: $text_2;
		transition: $anim_1;
		position: absolute;
		font-family: $font-primary;
		bottom: -200px;
		left: 50%;
		transform: translate(-50%, 0);
		&:hover {
			color: $text_1;
			background: white;
		}
	}
	// .gal__more-btn--hidden {
	// 	opacity: 0;
	// 	visibility: hidden;
	// }

	.gall__unit {
		display: none;
		&.gall__unit--active {
			display: block;
		}
	}
}


/*
* ========================== END GALLERY ==========================
*/



.header__nav.header__nav--hidden {
	.header__nav-burger-icon {
		visibility: visible;
		opacity: 1;
	}
	.header__nav-close-icon {
		visibility: hidden;
		opacity: 0;
	}
	.header__nav-body {
		visibility: hidden;
		opacity: 0;
	}
}
.header__nav {
	.header__nav-burger-icon {
		visibility: hidden;
		opacity: 0;
	}
	.header__nav-close-icon {
		visibility: visible;
		opacity: 1;
	}
	.header__nav-body {
		visibility: visible;
		opacity: 1;
	}
}
.header__nav-icon {
	cursor: pointer;
	display: block;
	padding: 0;
	transition: $anim_1;
	position: absolute;
	opacity: .8;
}
.header__nav-icon {
	width: 25px;
	height: 25px;
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: white;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}
	span:nth-child(1) {
	  top: 0px;
	  left: 6px;
	}
	span:nth-child(2),
	span:nth-child(3) {
	  top: 7px;
	  left: 3px;
	}
	span:nth-child(4) {
	  top: 14px;
	}

	&:hover {
		span:nth-child(1) {
			transform: translateY(-2px);
		}
		span:nth-child(2),
		span:nth-child(3) {
			transform: translateY(0px);
		}
		span:nth-child(4) {
			transform: translateY(2px);
		}
	}
}
.header__nav-icon.open {
	span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
	span:nth-child(2) {
	  transform: rotate(45deg);
	}
	span:nth-child(3) {
	  transform: rotate(-45deg);
	}
	span:nth-child(4) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}
}


@media screen and (max-width: 1300px) {
	.gallery-page .gal__subtitle {
		left: -80px;
	}
}
@media screen and (max-width: 1250px) {
	.gallery-page .gal__subtitle {
		display: none;
	}
}

@media screen and (max-width: 1200px) { 
	body {
		width: 1200px;
	}
	.index-page.page-wrap {
		opacity: 1;
		visibility: visible;
		transition: .0s;
	}
	.hero {
		&::after { 
			border-top: 90px solid transparent;
			border-bottom: 0px solid transparent; 
			border-right: 1200px  solid white; 
		}
	}
	.compet {
		&::after {
			border-top:  0px  solid transparent;
			border-bottom: 90px solid transparent; 
			border-left: 1200px  solid white;
		}
	}

}




@media screen and (max-width: 1150px) {

	.partners__item {
		// background-size: cover;
		// margin: 50px;
	}

}




@media screen and (max-width: 950px) {


}















